*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Roboto Mono', sans-serif;
}

p {
    /* font-family: 'Roboto Mono', sans-serif; */
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 5px 10px;
}

.main-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.head-container {
    margin-top: 50px;
}

.head-container > img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 10px;
    filter: saturate(2);
}

.body-container {
    margin-top: 20px;
}

.socmed {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 50px 0;
    justify-content: space-between;
    /* gap: 10px; */
}

.socmed-list {
    width: calc(100% / 2);
    flex-shrink: 0;
    padding: 10px;
    
    /* background-color: darkslategray; */
}

.socmed-img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    filter: saturate(5);
}

.title {
    text-align: left;
    padding: 10px;
}

.selling-stuff {
    display: flex;
    /* position: relative; */
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.selling-stuff::-webkit-scrollbar {
    display: none;
}

.item-for-sell {
    flex: 0 0 auto;
	border-radius: 15px;
	padding: 10px;
	cursor: pointer;
	width: 300px;
    height: 100%;
}

.stuff-img {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    /* border: 1px solid; */
    filter: saturate(5);
}

footer {
    margin: 0px 0 30px 0;
    text-align: center;
}

.more-button {
    margin-bottom: 50px;
}

biasa => 230.000
340.000

baris 5:

